{% extends 'base.html'%}

{% block title%}
    İletişim
{% endblock %}


{% block content%}
    <h1>İletişim Sayfası</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis est eum harum minus facere provident odio quae beatae, corrupti, recusandae nesciunt. Nemo nostrum repudiandae recusandae illo aperiam. Similique, quaerat enim.
    Eaque, nemo tenetur? Eius inventore, a eligendi quia, dolores voluptas libero magni facere qui pariatur deserunt dolorum cumque in quisquam, incidunt eum rerum necessitatibus dignissimos voluptatibus. Aspernatur ipsum quisquam est.
    Perspiciatis fugiat corrupti a itaque earum dignissimos sint fugit accusamus! Exercitationem, perspiciatis libero maxime hic rerum asperiores aspernatur dolorum? Nisi velit laudantium animi ipsam assumenda! Rem alias accusamus iusto adipisci!</p>
{% endblock %}